*{
    user-select: none;
}
.boule{
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
    position: absolute;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#joueur{
    width: 10vw;
    height: 10vw;
    image-rendering: pixelated;
}